name: Tests and Builds

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  test:
    if: github.actor != 'actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Setup tests
        run: |
          python -m pip install --upgrade pip

      - name: Run tests & CodeCov
        run: |
          python -m venv .venv
          source .venv/bin/activate
          .venv/bin/python -m pip install --upgrade pip
          pip install -e .
          coverage run -m pytest
          coverage report
          coverage xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml

  build:
    needs: test
    if: github.actor != 'actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Build and Run Image
        run: |
          docker build -t python-app .
          docker run python-app
